/.settings/*
/.builconfig/*
/.build/*
/.buildconfig/*
/.test/*
/.release/*
/test_data/*
/Debug/*
/Release/*
/Debug AVX/*
/Release AVX/*
/.cproject
/.project
/.config.mk
/Debug/
/Release/
/Debug AVX/
/Release AVX/
/INSTALL/*
*.log
/gmon.out
**/*.gmon
*.core
*vgcore*
*perf.data*

