/.svn/*
/.settings/*
/design/*
/res/specs/*
/.builconfig/*
/.build/*
/.buildconfig/*
/.test/*
/.release/*
/test/im_reverbs/*
/design/articles/*
/test_data/*
/Debug/*
/Release/*
/Debug AVX/*
/Release AVX/*
/.cproject
/.project
/Debug/
/Release/
/design/
/Debug AVX/
/Release AVX/
*.log
/gmon.out
**/*.gmon
*.core
*vgcore*
*perf.data*

