#-------------------------------------------------------------------------------
#
# This file contains configuration of the audio plugin.
#   Plugin name:         Parametrischer Entzerrer x16 Mono (Parametric Equalizer x16 Mono)
#   Plugin version:      1.0.3
#   LV2 URI:             http://lsp-plug.in/plugins/lv2/para_equalizer_x16_mono
#   VST identifier:      dh3y
#   LADSPA identifier:   5002074
# 
# (C) Linux Studio Plugins Project 
#   http://lsp-plug.in/ 
# 
#-------------------------------------------------------------------------------

# Bypass [boolean]: true/false
bypass = false

# Input gain [G]: 0.000000..10.000000
g_in = 1.000000

# Output gain [G]: 0.000000..10.000000
g_out = 1.000000

# Equalizer mode: 0..2
#   0: IIR
#   1: FIR
#   2: FFT
mode = 0

# FFT analysis: 0..2
#   0: Off
#   1: Post-eq
#   2: Pre-eq
fft = 0

# FFT reactivity [ms]: 0.000000..1.000000
react = 0.200000

# Shift gain [G]: 0.000000..100.000000
shift = 1.000000

# Graph zoom [G]: 0.015850..1.000000
zoom = 1.000000

# Filter select: 0..1
#   0: 0-7
#   1: 8-15
fsel = 0

# Filter type 0: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_0 = 0

# Filter mode 0: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_0 = 0

# Filter slope 0: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_0 = 0

# Filter solo 0 [boolean]: true/false
xs_0 = false

# Filter mute 0 [boolean]: true/false
xm_0 = false

# Frequency 0 [Hz]: 10.000000..24000.000000
f_0 = 16.000000

# Gain 0 [G]: 0.015850..63.095749
g_0 = 1.000000

# Quality factor 0: 0.000000..100.000000
q_0 = 0.000000

# Hue 0: 0.000000..1.000000
hue_0 = 0.000000

# Filter type 1: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_1 = 2

# Filter mode 1: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_1 = 2

# Filter slope 1: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_1 = 1

# Filter solo 1 [boolean]: true/false
xs_1 = false

# Filter mute 1 [boolean]: true/false
xm_1 = false

# Frequency 1 [Hz]: 10.000000..24000.000000
f_1 = 42.357716

# Gain 1 [G]: 0.015850..63.095749
g_1 = 1.154111

# Quality factor 1: 0.000000..100.000000
q_1 = 0.000000

# Hue 1: 0.000000..1.000000
hue_1 = 0.062500

# Filter type 2: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_2 = 0

# Filter mode 2: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_2 = 0

# Filter slope 2: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_2 = 0

# Filter solo 2 [boolean]: true/false
xs_2 = false

# Filter mute 2 [boolean]: true/false
xm_2 = false

# Frequency 2 [Hz]: 10.000000..24000.000000
f_2 = 40.000000

# Gain 2 [G]: 0.015850..63.095749
g_2 = 1.000000

# Quality factor 2: 0.000000..100.000000
q_2 = 0.000000

# Hue 2: 0.000000..1.000000
hue_2 = 0.125000

# Filter type 3: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_3 = 3

# Filter mode 3: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_3 = 0

# Filter slope 3: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_3 = 0

# Filter solo 3 [boolean]: true/false
xs_3 = false

# Filter mute 3 [boolean]: true/false
xm_3 = false

# Frequency 3 [Hz]: 10.000000..24000.000000
f_3 = 1919.019775

# Gain 3 [G]: 0.015850..63.095749
g_3 = 7.091211

# Quality factor 3: 0.000000..100.000000
q_3 = 0.500000

# Hue 3: 0.000000..1.000000
hue_3 = 0.187500

# Filter type 4: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_4 = 1

# Filter mode 4: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_4 = 0

# Filter slope 4: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_4 = 0

# Filter solo 4 [boolean]: true/false
xs_4 = false

# Filter mute 4 [boolean]: true/false
xm_4 = false

# Frequency 4 [Hz]: 10.000000..24000.000000
f_4 = 733.034424

# Gain 4 [G]: 0.015850..63.095749
g_4 = 0.275277

# Quality factor 4: 0.000000..100.000000
q_4 = 2.000000

# Hue 4: 0.000000..1.000000
hue_4 = 0.250000

# Filter type 5: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_5 = 0

# Filter mode 5: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_5 = 0

# Filter slope 5: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_5 = 0

# Filter solo 5 [boolean]: true/false
xs_5 = false

# Filter mute 5 [boolean]: true/false
xm_5 = false

# Frequency 5 [Hz]: 10.000000..24000.000000
f_5 = 160.000000

# Gain 5 [G]: 0.015850..63.095749
g_5 = 1.000000

# Quality factor 5: 0.000000..100.000000
q_5 = 0.000000

# Hue 5: 0.000000..1.000000
hue_5 = 0.312500

# Filter type 6: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_6 = 7

# Filter mode 6: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_6 = 0

# Filter slope 6: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_6 = 0

# Filter solo 6 [boolean]: true/false
xs_6 = false

# Filter mute 6 [boolean]: true/false
xm_6 = false

# Frequency 6 [Hz]: 10.000000..24000.000000
f_6 = 5146.160156

# Gain 6 [G]: 0.015850..63.095749
g_6 = 0.193914

# Quality factor 6: 0.000000..100.000000
q_6 = 29.500000

# Hue 6: 0.000000..1.000000
hue_6 = 0.375000

# Filter type 7: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_7 = 3

# Filter mode 7: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_7 = 0

# Filter slope 7: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_7 = 0

# Filter solo 7 [boolean]: true/false
xs_7 = false

# Filter mute 7 [boolean]: true/false
xm_7 = false

# Frequency 7 [Hz]: 10.000000..24000.000000
f_7 = 20037.554688

# Gain 7 [G]: 0.015850..63.095749
g_7 = 0.150295

# Quality factor 7: 0.000000..100.000000
q_7 = 0.524999

# Hue 7: 0.000000..1.000000
hue_7 = 0.437500

# Filter type 8: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_8 = 0

# Filter mode 8: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_8 = 0

# Filter slope 8: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_8 = 0

# Filter solo 8 [boolean]: true/false
xs_8 = false

# Filter mute 8 [boolean]: true/false
xm_8 = false

# Frequency 8 [Hz]: 10.000000..24000.000000
f_8 = 630.000000

# Gain 8 [G]: 0.015850..63.095749
g_8 = 1.000000

# Quality factor 8: 0.000000..100.000000
q_8 = 0.000000

# Hue 8: 0.000000..1.000000
hue_8 = 0.500000

# Filter type 9: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_9 = 0

# Filter mode 9: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_9 = 0

# Filter slope 9: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_9 = 0

# Filter solo 9 [boolean]: true/false
xs_9 = false

# Filter mute 9 [boolean]: true/false
xm_9 = false

# Frequency 9 [Hz]: 10.000000..24000.000000
f_9 = 1000.000000

# Gain 9 [G]: 0.015850..63.095749
g_9 = 1.000000

# Quality factor 9: 0.000000..100.000000
q_9 = 0.000000

# Hue 9: 0.000000..1.000000
hue_9 = 0.562500

# Filter type 10: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_10 = 0

# Filter mode 10: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_10 = 0

# Filter slope 10: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_10 = 0

# Filter solo 10 [boolean]: true/false
xs_10 = false

# Filter mute 10 [boolean]: true/false
xm_10 = false

# Frequency 10 [Hz]: 10.000000..24000.000000
f_10 = 1600.000000

# Gain 10 [G]: 0.015850..63.095749
g_10 = 1.000000

# Quality factor 10: 0.000000..100.000000
q_10 = 0.000000

# Hue 10: 0.000000..1.000000
hue_10 = 0.625000

# Filter type 11: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_11 = 0

# Filter mode 11: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_11 = 0

# Filter slope 11: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_11 = 0

# Filter solo 11 [boolean]: true/false
xs_11 = false

# Filter mute 11 [boolean]: true/false
xm_11 = false

# Frequency 11 [Hz]: 10.000000..24000.000000
f_11 = 2500.000000

# Gain 11 [G]: 0.015850..63.095749
g_11 = 1.000000

# Quality factor 11: 0.000000..100.000000
q_11 = 0.000000

# Hue 11: 0.000000..1.000000
hue_11 = 0.687500

# Filter type 12: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_12 = 0

# Filter mode 12: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_12 = 0

# Filter slope 12: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_12 = 0

# Filter solo 12 [boolean]: true/false
xs_12 = false

# Filter mute 12 [boolean]: true/false
xm_12 = false

# Frequency 12 [Hz]: 10.000000..24000.000000
f_12 = 4000.000000

# Gain 12 [G]: 0.015850..63.095749
g_12 = 1.000000

# Quality factor 12: 0.000000..100.000000
q_12 = 0.000000

# Hue 12: 0.000000..1.000000
hue_12 = 0.750000

# Filter type 13: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_13 = 0

# Filter mode 13: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_13 = 0

# Filter slope 13: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_13 = 0

# Filter solo 13 [boolean]: true/false
xs_13 = false

# Filter mute 13 [boolean]: true/false
xm_13 = false

# Frequency 13 [Hz]: 10.000000..24000.000000
f_13 = 6300.000000

# Gain 13 [G]: 0.015850..63.095749
g_13 = 1.000000

# Quality factor 13: 0.000000..100.000000
q_13 = 0.000000

# Hue 13: 0.000000..1.000000
hue_13 = 0.812500

# Filter type 14: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_14 = 0

# Filter mode 14: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_14 = 0

# Filter slope 14: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_14 = 0

# Filter solo 14 [boolean]: true/false
xs_14 = false

# Filter mute 14 [boolean]: true/false
xm_14 = false

# Frequency 14 [Hz]: 10.000000..24000.000000
f_14 = 10000.000000

# Gain 14 [G]: 0.015850..63.095749
g_14 = 1.000000

# Quality factor 14: 0.000000..100.000000
q_14 = 0.000000

# Hue 14: 0.000000..1.000000
hue_14 = 0.875000

# Filter type 15: 0..11
#   0: Off
#   1: Bell
#   2: Hi-pass
#   3: Hi-shelf
#   4: Lo-pass
#   5: Lo-shelf
#   6: Notch
#   7: Resonance
#   8: Ladder-pass
#   9: Ladder-rej
#   10: Envelope
#   11: Bandpass
ft_15 = 0

# Filter mode 15: 0..6
#   0: RLC (BT)
#   1: RLC (MT)
#   2: BWC (BT)
#   3: BWC (MT)
#   4: LRX (BT)
#   5: LRX (MT)
#   6: APO (DR)
fm_15 = 0

# Filter slope 15: 0..3
#   0: x1
#   1: x2
#   2: x3
#   3: x4
s_15 = 0

# Filter solo 15 [boolean]: true/false
xs_15 = false

# Filter mute 15 [boolean]: true/false
xm_15 = false

# Frequency 15 [Hz]: 10.000000..24000.000000
f_15 = 16000.000000

# Gain 15 [G]: 0.015850..63.095749
g_15 = 1.000000

# Quality factor 15: 0.000000..100.000000
q_15 = 0.000000

# Hue 15: 0.000000..1.000000
hue_15 = 0.937500

#-------------------------------------------------------------------------------
