[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-sc-mb-compressor-lr
GenericName=Split Stereo Sidechain Multiband Compressor
Comment=Performs multiband compression of stereo input signal by applying individual processing to left and right channels separately. Flexible sidechain-control configuration and additional sidechain inputs are provided.
Exec=lsp-plugins-sc-mb-compressor-lr
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
