[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-limiter-mono
GenericName=Mono Limiter
Comment=Implements a brick-wall limiter with flexible configuration. It prevents input monosignal from raising over the specified Threshold.
Exec=lsp-plugins-limiter-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
