[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-sc-gate-stereo
GenericName=Stereo Sidechain Gate
Comment=Performs gating of stereo input signal. Flexible sidechain-control configuration and additional sidechain inputs are provided.
Exec=lsp-plugins-sc-gate-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
