[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-sc-expander-stereo
GenericName=Stereo Sidechain Expander
Comment=Performs increasing of dynamic range of stereo input signal. Flexible sidechain-control configuration and additional sidechain inputs are provided.
Exec=lsp-plugins-sc-expander-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
