[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-dyna-processor-ms
GenericName=Mid-Side Stereo Dynamic Processor
Comment=Performs dynamic processing of stereo input signal in Mid-Side mode.
Exec=lsp-plugins-dyna-processor-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
