[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-sc-dyna-processor-stereo
GenericName=Stereo Dynamic Sidechain Processor
Comment=Performs dynamic processing of stereo input signal. Flexible sidechain-control configuration and additional sidechain inputs are provided.
Exec=lsp-plugins-sc-dyna-processor-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
