[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-graph-equalizer-x32-ms
GenericName=Mid-Side Stereo 32 Band Graphic Equalizer
Comment=Performs graphic equalization of stereo channel in Mid-Side mode. Up to 32 frequency bands are available for correction in range of 72 dB (-36..+36 dB).
Exec=lsp-plugins-graph-equalizer-x32-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
