[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-sc-dyna-processor-mono
GenericName=Mono Dynamic Sidechain Processor
Comment=Performs dynamic processing of mono input signal. Flexible sidechain-control configuration and additional sidechain input are provided.
Exec=lsp-plugins-sc-dyna-processor-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
