[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-mb-compressor-ms
GenericName=Mid-Side Stereo Multiband Compressor
Comment=Performs multiband compression of stereo input signal in Mid-Side mode.
Exec=lsp-plugins-mb-compressor-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
