[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-trigger-stereo
GenericName=Stereo Audio Trigger
Comment=Implements trigger with mono input and mono output.
Exec=lsp-plugins-trigger-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
