[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-multisampler-x12-do
GenericName=Direct Out 12 Instrument Sample Player
Comment=Implements 12-instrument MIDI sample player with stereo input and stereo output.
Exec=lsp-plugins-multisampler-x12-do
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
