[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-sc-mb-compressor-mono
GenericName=Mono Sidechain Multiband Compressor
Comment=Performs multiband compression of mono input signal. Flexible sidechain-control configuration and additional sidechain input are provided.
Exec=lsp-plugins-sc-mb-compressor-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
