[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-sampler-mono
GenericName=Mono MIDI Sample Player
Comment=Implements single-note MIDI sample player with mono input and mono output.
Exec=lsp-plugins-sampler-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
