[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-room-builder-stereo
GenericName=Stereo Room Impulse Response Builder
Comment=Allows to simulate stereo impulse response of any modelled room or space.
Exec=lsp-plugins-room-builder-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
