[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-expander-lr
GenericName=Split Stereo Expander
Comment=Performs increasing of dynamic range of stereo input signal by applying individual processing to left and right channels separately.
Exec=lsp-plugins-expander-lr
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
