[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-sc-mb-compressor-ms
GenericName=Mid-Side Stereo Sidechain Multiband Compressor
Comment=Performs multiband compression of stereo input signal in Mid-Side mode. Flexible sidechain-control configuration and additional sidechain inputs are provided.
Exec=lsp-plugins-sc-mb-compressor-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
