[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-gate-stereo
GenericName=Stereo Gate
Comment=Performs gating of stereo input signal.
Exec=lsp-plugins-gate-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
