[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-sc-gate-mono
GenericName=Mono Sidechain Gate
Comment=Performs gating of mono input signal. Flexible sidechain-control configuration and additional sidechain input are provided.
Exec=lsp-plugins-sc-gate-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
