[Desktop Entry]
Version=1.0
Type=Application
GenericName=Phase Detector
Name=Utilities
Name[ru]=Утилиты
Comment=Allows to detect phase between two sources.
Comment[ru]=Позволяет установить фазовое смещение между двумя источниками сигнала.
Exec=lsp-plugins-phase-detector
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
Keywords=audio;sound;jackd;lsp-plugins;
