[Desktop Entry]
Version=1.0
Type=Application
Name=Split Multiband Sidechain Gate
GenericName=Sidechain Multiband Gate
GenericName[ru]=Многополосный гейт с боковой цепью
Comment=Performs multiband gating of stereo input signal by applying individual processing to left and right channels separately.
Comment[ru]=Осуществляет многополосное гейтирование стереосигнала, левый и правый каналы обрабатываются индивидуально. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-mb-gate-lr
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
