[Desktop Entry]
Version=1.0
Type=Application
GenericName=Stereo Multiband Sidechain Expander
Name=Expanders: Stereo Multiband Sidechain Expander
Name[ru]=Экспандеры
Comment=Performs multiband increasing of dynamic range of stereo input signal.
Comment[ru]=Осуществляет многополосное повышение динамического диапазона стереосигнала. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-mb-expander-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
