[Desktop Entry]
Version=1.0
Type=Application
GenericName=Split Stereo Dynamic Processor
Name=Dynamic Processing
Name[ru]=Динамическая обработка
Comment=Performs dynamic processing of stereo input signal by applying individual processing to left and right channels separately.
Comment[ru]=Осуществляет динамическую обработку стереосигнала, каждый канал стереопары обрабатывается индивидуально.
Exec=lsp-plugins-dyna-processor-lr
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
