[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Multiband Sidechain Gate
GenericName=Sidechain Multiband Gate
GenericName[ru]=Многополосный гейт с боковой цепью
Comment=Performs multiband gating of stereo input signal.
Comment[ru]=Осуществляет многополосное гейтирование стереосигнала. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-mb-gate-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
