[Desktop Entry]
Version=1.0
Type=Application
Name=Mid-Side Split Multiband Expander
GenericName=Multiband Expander
GenericName[ru]=Многополосный экспандер
Comment=Performs multiband increasing of dynamic range of stereo input signal in Mid-Side mode.
Comment[ru]=Осуществляет многополосное повышение динамического диапазона стереосигнала, центр и сторона обрабатываются индивидуально.
Exec=lsp-plugins-mb-expander-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
