[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Expander
GenericName=Expander
GenericName[ru]=Экспандер
Comment=Performs increasing of dynamic range of stereo input signal.
Comment[ru]=Осуществляет увеличение динамического диапазона стереосигнала.
Exec=lsp-plugins-expander-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
