[Desktop Entry]
Version=1.0
Type=Application
Name=Split Stereo Sidechain Compressor
GenericName=Sidechain Compressor
GenericName[ru]=Компрессор с боковой цепью
Comment=Performs compression of stereo input signal by applying individual processing to left and right channels separately. Flexible sidechain-control configuration and additional sidechain inputs are provided.
Comment[ru]=Осуществляет компрессию входного стереосигнала, применяя индивидуальную компрессию к каждому каналу. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-compressor-lr
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
