[Desktop Entry]
Version=1.0
Type=Application
GenericName=Direct Out 24 Instrument Sample Player
Name=Sample Player
Name[ru]=Сэмплер
Comment=Implements 24-instrument MIDI sample player with stereo input and stereo output.
Comment[ru]=Реализует управляемый MIDI сэмплер на 24 инструмента со стереовходом и стереовыходом.
Exec=lsp-plugins-multisampler-x24-do
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
Keywords=audio;sound;jackd;
