[Desktop Entry]
Version=1.0
Type=Application
Name=Mono Expander
GenericName=Expander
GenericName[ru]=Экспандер
Comment=Performs increasing of dynamic range of mono input signal.
Comment[ru]=Осуществляет увеличение динамического диапазона моносигнала.
Exec=lsp-plugins-expander-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
