[Desktop Entry]
Version=1.0
Type=Application
Name=Mono Multiband Compressor
GenericName=Multiband Compressor
GenericName[ru]=Многополосный компрессор
Comment=Performs multiband compression of mono input signal.
Comment[ru]=Осуществляет многополосную компрессию моносигнала.
Exec=lsp-plugins-mb-compressor-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
