[Desktop Entry]
Version=1.0
Type=Application
Name=Mono Dynamic Processor
GenericName=Dynamic Processor
GenericName[ru]=Динамический процессор
Comment=Performs dynamic processing of mono input signal.
Comment[ru]=Осуществляет динамическую обработку моносигнала.
Exec=lsp-plugins-dyna-processor-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
