[Desktop Entry]
Version=1.0
Type=Application
GenericName=Stereo 32 Band Parametric Equalizer
Name=Equalizers
Name[ru]=Эквалайзеры
Comment=Performs parametric equalization of stereo channel. Up to 32 filters are available for signal processing simultaneously.
Comment[ru]=Осуществляет параметрическую эквализацию стереосигнала. Возможно использование до 32 фильтров одновременно.
Exec=lsp-plugins-para-equalizer-x32-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
