[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mono Audio Trigger
Name=Triggers: Mono Audio Trigger
Name[ru]=Триггеры
Comment=Implements trigger with mono input and mono output.
Comment[ru]=Реализаует триггер с монофоническими входом и выходом. 
Exec=lsp-plugins-trigger-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
