[Desktop Entry]
Version=1.0
Type=Application
Name=Mid-Side Stero Sidechain Compressor
GenericName=Sidechain Compressor
GenericName[ru]=Компрессор с боковой цепью
Comment=Performs compression of stereo input signal in Mid-Side mode. Flexible sidechain-control configuration and additional sidechain inputs are provided.
Comment[ru]=Осуществляет компрессию входного стереосигнала, обрабатывая центр и сторону по отдельности. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-compressor-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
