[Desktop Entry]
Version=1.0
Type=Application
Name=Phase Detector
GenericName=Utility
GenericName[ru]=Утилита
Comment=Allows to detect phase between two sources.
Comment[ru]=Позволяет установить фазовое смещение между двумя источниками сигнала.
Exec=lsp-plugins-phase-detector
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
