[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mono Multiband Compressor
Name=Compressors
Name[ru]=Компрессоры
Comment=Performs multiband compression of mono input signal.
Comment[ru]=Осуществляет многополосную компрессию моносигнала.
Exec=lsp-plugins-mb-compressor-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
