[Desktop Entry]
Version=1.0
Type=Application
Name=Mono Sidechain Compressor
GenericName=Sidechain Compressor
GenericName[ru]=Компрессор с боковой цепью
Comment=Performs compression of mono input signal. Flexible sidechain-control configuration and additional sidechain input are provided.
Comment[ru]=Осуществляет компрессию входного моносигнала. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-compressor-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
