[Desktop Entry]
Version=1.0
Type=Application
Name=Mid-Side Stereo 32 Band Graphic Equalizer
GenericName=Graphic Equalizer
GenericName[ru]=Графический эквалайзер
Comment=Performs graphic equalization of stereo channel in Mid-Side mode. Up to 32 frequency bands are available for correction in range of 72 dB (-36..+36 dB).
Comment[ru]=Осуществляет графическую эквализацию стереосигнала, центр и сторона обрабатываются отдельно. Доступно до 32 полос эквализации с возможностью корректировки в диапазоне 72 дБ (-36..+36 дБ).
Exec=lsp-plugins-graph-equalizer-x32-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
