[Desktop Entry]
Version=1.0
Type=Application
Name=lsp-plugins-expander-stereo
GenericName=Stereo Expander
Comment=Performs increasing of dynamic range of stereo input signal.
Exec=lsp-plugins-expander-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
