[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mono Multiband Expander
Name=Expanders: Mono Multiband Expander
Name[ru]=Экспандеры
Comment=Performs multiband increasing of dynamic range of mono input signal.
Comment[ru]=Осуществляет многополосное повышение динамического диапазона моносигнала.
Exec=lsp-plugins-mb-expander-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
