[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Dynamic Processor
GenericName=Dynamic Processor
GenericName[ru]=Динамический процессор
Comment=Performs dynamic processing of stereo input signal.
Comment[ru]=Осуществляет динамическую обработку стереоканала.
Exec=lsp-plugins-dyna-processor-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
