[Desktop Entry]
Version=1.0
Type=Application
Name=Mid-Side Split Stereo Compressor
GenericName=Compressor
GenericName[ru]=Компрессор
Comment=Performs compression of stereo input signal in Mid-Side mode.
Comment[ru]=Осуществляет компрессию входного стереосигнала, обрабатывая центр и сторону по отдельности.
Exec=lsp-plugins-compressor-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
