[Desktop Entry]
Version=1.0
Type=Application
Name=Two Channel Spectrum Analyzer
GenericName=Spectrum Analyzer
GenericName[ru]=Спектроанализатор
Comment=Performs spectral analysis of a pair of audio channels. Stereo channels also are possible to analyze by utilizing special modes and selecting corresponsing channels.
Comment[ru]=Осуществляет одновременный спектральный анализ Пары аудиоканалов. Также возможно анализировать стереоканалы при использовании специального режима.
Exec=lsp-plugins-spectrum-analyzer-x2
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
