[Desktop Entry]
Version=1.0
Type=Application
Name=Mono Room Impulse Response Builder
GenericName=Simulator
GenericName[ru]=Симулятор
Comment=Allows to simulate mono impulse response of any modelled room or space.
Comment[ru]=Позволяет симулировать реверберацию пространства на основе произвольных 3D-моделей. 
Exec=lsp-plugins-room-builder-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
