[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mid-Side Stereo Gate
Name=Gates
Name[ru]=Гейты
Comment=Performs gating of stereo input signal in Mid-Side mode.
Comment[ru]=Осуществляет гейтирование стереосигнала, центр и сторона обрабатываются индивидуально.
Exec=lsp-plugins-gate-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
Keywords=audio;sound;jackd;lsp-plugins;
