[Desktop Entry]
Version=1.0
Type=Application
Name=Split Stereo Expander
GenericName=Expander
GenericName[ru]=Экспандер
Comment=Performs increasing of dynamic range of stereo input signal by applying individual processing to left and right channels separately.
Comment[ru]=Осуществляет увеличение динамического диапазона стереосигнала, левый и правый каналы обрабатываются индивидуально.
Exec=lsp-plugins-expander-lr
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
