[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mono Dynamic Sidechain Processor
Name=Dynamic Processing
Name[ru]=Динамическая обработка
Comment=Performs dynamic processing of mono input signal. Flexible sidechain-control configuration and additional sidechain input are provided.
Comment[ru]=Осуществляет динамическую обработку моносигнала. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-dyna-processor-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
Keywords=audio;sound;jackd;lsp-plugins;
