[Desktop Entry]
Version=1.0
Type=Application
Name=Split Multiband Sidechain Expander
GenericName=Sidechain Multiband Expander
GenericName[ru]=Многополосный экспандер с боковой цепью
Comment=Performs multiband increasing of dynamic range of stereo input signal by applying individual processing to left and right channels separately.
Comment[ru]=Осуществляет многополосное повышение динамического диапазона стереосигнала, левый и правый каналы обрабатываются индивидуально. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-mb-expander-lr
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
