[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mono Compressor
Name=Compressors
Name[ru]=Компрессоры
Comment=Performs compression of mono input signal.
Comment[ru]=Осуществляет компрессию входного моносигнала.
Exec=lsp-plugins-compressor-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
Keywords=audio;sound;jackd;
