[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mid-Side Split Stereo Compressor
Name=Compressors
Name[ru]=Компрессоры
Comment=Performs compression of stereo input signal in Mid-Side mode.
Comment[ru]=Осуществляет компрессию входного стереосигнала, обрабатывая центр и сторону по отдельности.
Exec=lsp-plugins-compressor-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
Keywords=audio;sound;jackd;
