[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo 16 Band Graphic Equalizer
GenericName=Graphic Equalizer
GenericName[ru]=Графический эквалайзер
Comment=Performs graphic equalization of stereo channel. Up to 16 frequency bands are available for correction in range of 72 dB (-36..+36 dB).
Comment[ru]=Осуществляет графическую эквализацию стереосигнала. Доступно до 16 полос эквализации с возможностью корректировки в диапазоне 72 дБ (-36..+36 дБ).
Exec=lsp-plugins-graph-equalizer-x16-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
