[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mono Sidechain Gate
Name=Gates
Name[ru]=Гейты
Comment=Performs gating of mono input signal. Flexible sidechain-control configuration and additional sidechain input are provided.
Comment[ru]=Осуществляет гейтирование моносигнала. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-gate-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
