[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Compressor
GenericName=Compressor
GenericName[ru]=Компрессор
Comment=Performs compression of stereo input signal.
Comment[ru]=Осуществляет компрессию стереосигнала.
Exec=lsp-plugins-compressor-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
