[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Audio Trigger
GenericName=Trigger
GenericName[ru]=Триггер
Comment=Implements trigger with mono input and mono output.
Comment[ru]=Реализует триггер со стереофоническими входом и выходом. 
Exec=lsp-plugins-trigger-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
