[Desktop Entry]
Version=1.0
Type=Application
GenericName=One Channel Spectrum Analyzer
Name=Analyzers: 1 Channel Spectrum Analyzer
Name[ru]=Анализаторы
Comment=Performs spectral analysis of a single audio channel. It does not affect any changes to the input signal, so can be placed anywhere where the metering is needed.
Comment[ru]=Осуществляет одновременный спектральный анализ одного аудиоканала.
Exec=lsp-plugins-spectrum-analyzer-x1
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
