[Desktop Entry]
Version=1.0
Type=Application
Name=Mono Sidechain Limiter
GenericName=Sidechain Limiter
GenericName[ru]=Лимитер с боковой цепью
Comment=Implements a brick-wall limiter with flexible configuration. It prevents input monosignal from raising over the specified Threshold. Additional sidechain inputs are provided for better use.
Comment[ru]=Реализует лимитер с жёсткой верхней границей. Предотвращает превышение моносигналом заданного порогового уровня. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-limiter-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
