[Desktop Entry]
Version=1.0
Type=Application
Name=Direct Out 24 Instrument Sample Player
GenericName=Sample Player
GenericName[ru]=Сэмплер
Comment=Implements 24-instrument MIDI sample player with stereo input and stereo output.
Comment[ru]=Реализует управляемый MIDI сэмплер на 24 инструмента со стереовходом и стереовыходом.
Exec=lsp-plugins-multisampler-x24-do
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
