[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mono Multiband Sidechain Expander
Name=Expanders
Name[ru]=Экспандеры
Comment=Performs multiband increasing of dynamic range of mono input signal.
Comment[ru]=Осуществляет многополосное повышение динамического диапазона моносигнала. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-mb-expander-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
Keywords=audio;sound;jackd;
