[Desktop Entry]
Version=1.0
Type=Application
Name=Mono Signal Generator
GenericName=Generator
GenericName[ru]=Генератор
Comment=Implements a simple yet flexible utility signal generator. It can be used to provide reference waves in replacement, additive and multiplicative (modulation) Mode.
Comment[ru]=Реализует простую но гибкую утилиту для генерации сигналов. Может быть использован для генерации референсных сигналов в режиме замещения, добавления и умножения (модуляции).
Exec=lsp-plugins-oscillator-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
