[Desktop Entry]
Version=1.0
Type=Application
Name=Split Multiband Expander
GenericName=Multiband Expander
GenericName[ru]=Многополосный экспандер
Comment=Performs multiband increasing of dynamic range of stereo input signal by applying individual processing to left and right channels separately.
Comment[ru]=Осуществляет многополосное повышение динамического диапазона стереосигнала, левый и правый каналы обрабатываются индивидуально.
Exec=lsp-plugins-mb-expander-lr
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
