[Desktop Entry]
Version=1.0
Type=Application
Name=Mid-Side Split Multiband Compressor
GenericName=Multiband Compressor
GenericName[ru]=Многополосный компрессор
Comment=Performs multiband compression of stereo input signal in Mid-Side mode.
Comment[ru]=Осуществляет многополосную компрессию стереосигнала, центр и сторона обрабатываются индивидуально.
Exec=lsp-plugins-mb-compressor-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
