[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mid-Side Split Multiband Compressor
Name=Compressors
Name[ru]=Компрессоры
Comment=Performs multiband compression of stereo input signal in Mid-Side mode.
Comment[ru]=Осуществляет многополосную компрессию стереосигнала, центр и сторона обрабатываются индивидуально.
Exec=lsp-plugins-mb-compressor-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
Keywords=audio;sound;jackd;
