[Desktop Entry]
Version=1.0
Type=Application
Name=Mono Compressor
GenericName=Compressor
GenericName[ru]=Компрессор
Comment=Performs compression of mono input signal.
Comment[ru]=Осуществляет компрессию входного моносигнала.
Exec=lsp-plugins-compressor-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
