[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mid-Side Stereo Expander
Name=Expanders
Name[ru]=Экспандеры
Comment=Performs increasing of dynamic range of stereo input signal in Mid-Side mode.
Comment[ru]=Осуществляет увеличение динамического диапазона стереосигнала, центр и сторона обрабатываются индивидуально.
Exec=lsp-plugins-expander-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
