[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Compressor
GenericName=Compressors
GenericName[ru]=Компрессоры
Comment=Performs compression of stereo input signal.
Comment[ru]=Осуществляет компрессию стереосигнала.
Exec=lsp-plugins-compressor-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
