[Desktop Entry]
Version=1.0
Type=Application
Name=Split Stereo Compressor
GenericName=Compressor
GenericName[ru]=Компрессор
Comment=Performs compression of stereo input signal by applying individual processing to left and right channels separately.
Comment[ru]=Осуществляет компрессию входного стереосигнала, применяя индивидуальную компрессию к каждому каналу.
Exec=lsp-plugins-compressor-lr
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
