[Desktop Entry]
Version=1.0
Type=Application
GenericName=Stereo Multiband Compressor
Name=Compressors
Name[ru]=Компрессоры
Comment=Performs multiband compression of stereo input signal.
Comment[ru]=Осуществляет многополосную компрессию стереосигнала.
Exec=lsp-plugins-mb-compressor-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
Keywords=audio;sound;jackd;lsp-plugins;
