[Desktop Entry]
Version=1.0
Type=Application
Name=Mid-Side Split Multiband Sidechain Expander
GenericName=Sidechain Multiband Expander
GenericName[ru]=Многополосный экспандер с боковой цепью
Comment=Performs multiband increasing of dynamic range of stereo input signal in Mid-Side mode.
Comment[ru]=Осуществляет многополосное повышение динамического диапазона стереосигнала, центр и сторона обрабатываются индивидуально. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-mb-expander-ms
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
