[Desktop Entry]
Version=1.0
Type=Application
GenericName=Stereo Slap Delay
Name=Delay effects
Name[ru]=Эффекты задержки
Comment=Allows to add set of short delays of the original (stereo) signal to the output mix. Each delay can be used to simulate the early reflections of the signal from walls.
Comment[ru]=Позволяет добавить короткие задержки к оригинальному стереосигналу в финальный микс. Каждая задержка может симулировать первичные отражение сигнала от стен.
Exec=lsp-plugins-slap-delay-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
Keywords=audio;sound;jackd;
