[Desktop Entry]
Version=1.0
Type=Application
GenericName=Mono Audio Profiler
Name=Utilities: Mono Audio Profiler
Name[ru]=Утилиты
Comment=Allows to profile audio systems (mono) based on the Synchronized Swept Sine method by Antonin Novak.
Comment[ru]=Позволяет профилировать монофонические аудиосистемы. 
Exec=lsp-plugins-profiler-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
