[Desktop Entry]
Version=1.0
Type=Application
Name=Mono Gate
GenericName=Gate
GenericName[ru]=Гейт
Comment=Performs gating of mono input signal.
Comment[ru]=Осуществляет гейтирование моносигнала.
Exec=lsp-plugins-gate-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
