[Desktop Entry]
Version=1.0
Type=Application
GenericName=Split Stereo Gate
Name=Gates
Name[ru]=Гейты
Comment=Performs gating of stereo input signal by applying individual processing to left and right channels separately.
Comment[ru]=Осуществляет гейтирование стереосигнала, левый и правый каналы обрабатываются индивидуально.
Exec=lsp-plugins-gate-lr
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
