[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Audio Profiler
GenericName=Profiler
GenericName[ru]=Профилировщик
Comment=Allows to profile audio systems (stereo) based on the Synchronized Swept Sine method by Antonin Novak.
Comment[ru]=Позволяет профилировать стереофонические аудиосистемы.
Exec=lsp-plugins-profiler-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
