[Desktop Entry]
Version=1.0
Type=Application
Name=12 Channel Spectrum Analyzer
GenericName=Spectrum Analyzer
GenericName[ru]=Спектроанализатор
Comment=Performs spectral analysis of 12 independent channels simultaneously. Stereo channels also are possible to analyze by utilizing special modes and selecting corresponsing channels.
Comment[ru]=Осуществляет одновременный спектральный анализ 12 независимых каналов. Также возможно анализировать стереоканалы при использовании специального режима.
Exec=lsp-plugins-spectrum-analyzer-x12
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
