[Desktop Entry]
Version=1.0
Type=Application
GenericName=Stereo Audio Profiler
Name=Utilities
Name[ru]=Утилиты
Comment=Allows to profile audio systems (stereo) based on the Synchronized Swept Sine method by Antonin Novak.
Comment[ru]=Позволяет профилировать стереофонические аудиосистемы.
Exec=lsp-plugins-profiler-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
