[Desktop Entry]
Version=1.0
Type=Application
Name=Mono Audio Profiler
GenericName=Profiler
GenericName[ru]=Профилировщик
Comment=Allows to profile audio systems (mono) based on the Synchronized Swept Sine method by Antonin Novak.
Comment[ru]=Позволяет профилировать монофонические аудиосистемы. 
Exec=lsp-plugins-profiler-mono
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
