[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Multiband Sidechain Expander
GenericName=Sidechain Multiband Expander
GenericName[ru]=Многополосный экспандер с боковой цепью
Comment=Performs multiband increasing of dynamic range of stereo input signal.
Comment[ru]=Осуществляет многополосное повышение динамического диапазона стереосигнала. Имеет дополнительный вход для гибко конфигурируемой боковой цепи управления.
Exec=lsp-plugins-sc-mb-expander-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
