[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Multiband Compressor
GenericName=Compressors
GenericName[ru]=Компрессоры
Comment=Performs multiband compression of stereo input signal.
Comment[ru]=Осуществляет многополосную компрессию стереосигнала.
Exec=lsp-plugins-mb-compressor-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
