[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Gate
GenericName=Gate
GenericName[ru]=Гейт
Comment=Performs gating of stereo input signal.
Comment[ru]=Осуществляет гейтирование стереосигнала.
Exec=lsp-plugins-gate-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
