[Desktop Entry]
Version=1.0
Type=Application
GenericName=Stereo Dynamic Processor
Name=Dynamic Processing
Name[ru]=Динамическая обработка
Comment=Performs dynamic processing of stereo input signal.
Comment[ru]=Осуществляет динамическую обработку стереоканала.
Exec=lsp-plugins-dyna-processor-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Categories=lsp-plugins;
