[Desktop Entry]
Version=1.0
Type=Application
Name=Stereo Convolution Reverb
GenericName=Convolution Processor
GenericName[ru]=Свёрточный процессор
Comment=Performs highly optimized real time zero-latency convolution to the input signal. It can be used as a cabinet emulator, some sort of equalizer or as a reverb simulation.
Comment[ru]=Осуществляет высокооптимизированную свёртку входного сигнала с нулевой задержкой. Может быть использован как эмулятор кабинета, эквалайзер или ревербератор.
Exec=lsp-plugins-impulse-reverb-stereo
Icon=lsp-plugins
Terminal=false
StartupNotify=false
Keywords=audio;sound;jackd;lsp-plugins;
